<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
  <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
  <title>WORD COUNT</title>
</head>
<body>
    <header>
      <div class="p-3 mb-2 bg-info text-white">
      <h3 class="text-center"py-2 mb-0>ABOUT</h3>
    </div>
    </header>
    <section class="bg-light border-bottom py-3">
      <div class="container">
      <article class="d-inline-block align-middle mb-1 mb-3 profile-text">
        <h1 class="font-weight-bold mb-0 profile-h1">Likelion First Django Assignment</h1>
      </article>
    </div>
</section>
</body>
<section class="container">
  <section class="container">
    <article class="d-inline-block align-middle mb-1 mb-3 profile-text">
<p><h3>이 프로그램은 멋쟁이 사자처럼 7기 한병찬이 만든 작품입니다.</h3></p>
<P><h3>이 프로그램은 입력한 문장의 단어를 세주는 프로그램입니다.</h3></P>
<P><h3>HOME창에 있는 문장 입력창에 원하는 문장을 입력하고 count!버튼을 눌러보세요.</h3></P>
<P><h3>문장안에 어떤 단어들이 몇개씩 들어가 있는지 알 수 있을겁니다.</h3></P>
<br>
<a href="{% url 'home' %}"target="_blank" style="color:rgb(133, 131, 8)"><h1>Home으로 가기</h1></a>
</article>
</section>
