<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
  <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
  <title>WORD COUNT</title>
</head>
<body>
    <header>
      <div class="p-3 mb-2 bg-info text-white">
      <h3 class="text-center"py-2 mb-0>HOME</h3>
    </div>
    </header>
    <section class="bg-light border-bottom py-3">
      <div class="container">
      <article class="d-inline-block align-middle mb-1 mb-3 profile-text">
        <h1 class="font-weight-bold mb-0 profile-h1">Likelion First Django Assignment</h1>
      </article>
    </div>
</section>
</body>
<section class="container">
  <section class="container">
    <article class="d-inline-block align-middle mb-1 mb-3 profile-text">
      <a href="{% url 'about' %}" target="_blank" style="color:rgb(377, 144, 37)"><h3>ABOUT(프로그램 설명이 필요하다면 누르시오)</h3></a>
<form action="{% url 'count' %}">
    <textarea cols="90" rows="10" name="fulltext"></textarea>
    <br>
    <input type="submit" value="Count!" />
</form>
    </article>
    </section>
